@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');

body {
    width:100%;
	background-color:#67de67;
}


.padding{
			margin:0.1rem;
}

p.text-center {
				padding-top:1rem;
				color:yellow; 
				font-size:1.5rem; 
}

h3 {
	color: rgb(235, 37, 11);
	font-style: italic;
	font-weight: bold;
	letter-spacing: 2px;
	text-shadow:1px 1px rgb(252, 252, 252);
}

.fa-star {
	font-size:1.2rem;
}

#j-messj {color:yellow;
	font-size:1.2rem;
	margin-right:3rem;
	text-align:right;
}

p { color:white; 
	text-shadow:4px 4px 5px rgb(95, 3, 5);
}


p.descrie { color:#222; 
		    font-weight:bold; 
			text-shadow:4px 4px 5px white;
}

p.card-text {
	color:black;
}

h4 {
	padding: 8px;
	font-weight:bold;
	color:rgb(22 24 21);
	text-shadow:4px 4px 5px white;
}

h4 a {
	color: red;

}

h4 a:hover {
	text-decoration: none;
	color: cyan;
}

h5 {
	font-family: 'Times New Roman', Times, serif;
	font-size: 22px;
	letter-spacing: 2px;
	font-weight: none;
	font-style: italic;
	color:coral;
}

button {
	color: cyan;
	background-color: blue;
	padding: 6px 30px;
	border-radius: 20px;
	border-style: 1px solid green;
	font-size: 18px;
	font-weight: bold;
}

button:hover {
	color: red;
	background-color: white;
}


.form-name {
	color: #97001c;
	font-style: italic;
}

.form-control {
	color: white;
	background-color:rgb(211, 72, 72);
}


.container-fluid a.navbar-brand img {
										border: 1.2px solid white;
										border-radius:50%;
										margin:0px;
										padding:0px;
									}
 
 nav div h1 {
			  color:red;
			  text-shadow:5px 5px 9px black;
			  font-family: Times,sans;
			  padding-left:0.2rem;
			}
			
	
			[title~=flower] {
								
								color:#da0011;
							}						
								
	.navbar-light .navbar-nav .nav-link {
												color:#00cc33;
												margin-right:0.3rem;
												font-size:1.4rem;
												font-family: Times,sans;
												font-weight:bold;
										}

.navbar-light .navbar-nav .nav-link:hover {
												color:red;
										}



button.navbar-toggler { margin-right:1.2rem;
							margin-left:1.6rem;
							margin-top:0.4rem;
							background-color:#222;
	}

	span.navbar-toggler-icon { color:blue;
	background-color:#55ff55;
	}									
 
 #home {
				background-color:#005E00;	
				margin-top:0px;
				padding-left:1rem;
				border-bottom:0.1rem groove red;
			}

 .btn-primary {
     background-color:#6648b1;
     border: 1px solid blue;
 }

 .btn-primary:hover {
     background-color:#563df7;
     border: 1px solid #000;
 }
 
 #facil		
				{
					background-color:black;
					background-image:url('../img/peis1.png');
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    background-position: top;
                    background-size: cover;	
					padding: 0.6rem ;			
	}
 
#serv		
				{
					background-color:rgb(17, 43, 65);
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    background-position: center;
                    background-size: cover;	
					padding: 1.2rem ;
					
	}
	
	
#contact {	word-spacing: 0.6rem;
			letter-spacing:8px;
			padding:0.4rem;
}	

#rez {
			background-color:rgb(236, 127, 127);
            width: 100%;
			
}

#rooms2 {
	padding: 0;
	margin: 0;
}

#rooms-btn {		
			margin-bottom:0.5rem; 
			margin-top:0.5rem; 
			background-color:;
}



.carousel-inner img {
     width: auto;
     height: auto;
 }

 .carousel-caption {
     position: absolute;
     top: 30%;
     transform: translateY(-50%);
 }

 .carousel-caption h1 {
     font-size: 150%;
     text-transform: upercase;
     text-shadow: 4px 4px 15px #000;
 }

.carousel-caption h3 {
     font-size: 80%;
     font-weight:200;
     text-shadow: 1px 1px 10px #000;
     padding: bottom 1rem;  
 }

 .btn-primary {
     background-color:#221f2c;
     border: 1px solid rgb(8, 114, 25);
 }

 .btn-primary:hover {
     background-color:#563df7;
     border: 1px solid #000;
 }
 



.jumbotron {
	margin:1.6rem 2rem 0rem 2rem;
	padding:0.5rem;
	border-radius: 44px;
	background-color:rgba(225,25,5, 0.2);
}


.welcome {
	height:auto;
    width: 90%;
    margin: 2px auto;
    padding-top: 0.1rem;
}

.card {
	margin-bottom: 0.5rem;
}

.social a {
    font-size: 2rem;
    padding: 1.2rem;
}

.fa-facebook {
    color: #3b5998;
}

.fa-twitter {
    color: #00aced;
}


.fa-instagram {
    color: #517fa4;
}

.fa-youtube {
    color: #bb0000;
}

 .fa-facebook:hover,
 .fa-twitter:hover,
 .fa-instagram:hover,
 .fa-youtube:hover
            {
       color:white;
   }


footer {
	line-height:.04rem;
    background-color:#100d31de;
    color: #e5e5e5;
    padding-top: 0.2rem;
}


.btn-info {
				color:#f01;
}


hr.light {
    border-top: 1px solid #517fa4;
    width: 70%;
    margin-top: .8rem;
    margin-bottom: 1rem;
    }

	
footer a {
    color:red;
}

hr.light-100 {
   border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.clear {
	
		width:60%;
		height:6rem;
		background-color:rgba(0,125,0, 0.2);
}

#dotari {
			        background-color:rgb(206, 120, 70);
					background-image:url("../assets/img/drap.png");
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    background-position: center;
                    background-size: cover;	
					padding: 0.4rem 
}


     <!-- Media queries --->

 @media (max-width:768px) {
	 
.display-5 {
	font-size:160%;
}

.carousel-caption  {
top: 45%;
 }

 .carousel-caption h1 {
     font-size: 350%;
 }

.carousel-caption h3 {
     font-size: 140%;
     font-weight:400;
     padding: bottom .2rem;  
 }

.carousel-caption .bnt {	
	font-size:95%;
	padding:8px 14px;
}

.social a {
	font-size:2.5em;
	padding: 1.2rem;
}
}


@media (max-width:576px) {
	
.display-5 {
	font-size:160%;
}


.carousel-caption  {
 	top: 40%;
 }
 .carousel-caption h1 {
     font-size: 250%;
 }
.carousel-caption h3 {
     font-size: 110%;
     font-weight:400;
     padding: bottom .2rem;  
 }
.carousel-caption .bnt {	
	font-size:90%;
	padding:4px 8px;
}
.carousel-indicators {
	display:inline;
}

.social a {
	font-size:2em;
	padding: .7rem;
}

}
 

  